/* шрифты */

@font-face {
  font-family: "Golos Text";
  src: url("../assets/fonts/golos-text_vf.ttf") format("truetype");
  font-weight: 100 900; /* ОБЯЗАТЕЛЬНО для variable font */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "IBM Plex Mono";
  src: url("../assets/fonts/IBMPlexMono-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
