/* (reset/типографика/переменные) */

@property --ll-text-color-dark {
  syntax: "<color>";
  inherits: true;
  initial-value: #576473;
}

:root {
  /* MEASURES */

  --max-width: min(90vw, 1300px);
  --ll-bleed: max(0px, calc((100vw - var(--max-width)) / 2));

  --space: clamp(4px, 0.5vw, 12px);
  --radius: clamp(8px, 3vw, 70px); /* Контейнерные размеры */
  --radius-max: 999px; /* Контейнерные размеры */
  --side-padding: clamp(16px, 4vw, 48px);
  --ll-average-gap: clamp(10px, 1.38vw, 20px);

  --p-max-width: 45vh;

  --tl-height: min(calc(100vh - calc(var(--side-padding) * 4)), 90vh);

  /* TYPO */

  --ll-text-color-white: #ffffff;
  --ll-text-color-dark: #576473;
  transition: --ll-text-color-dark 0.7s ease;

  /* 14 @320 → 20 @1200 */
  --ll-tl-font-size-20: clamp(14px, calc(11.818px + 0.682vw), 20px);

  /* 14 @320 → 24 @1200 */
  --ll-tl-font-size-24: clamp(14px, calc(10.364px + 1.136vw), 24px);
  --ll-tl-font-size-28: clamp(14px, calc(11.364px + 1.136vw), 28px);

  /* 14 @320 → 32 @1200 */
  --ll-tl-font-size-32: clamp(14px, calc(7.455px + 2.045vw), 32px);

  /* 18 @320 → 36 @1200 */
  --ll-tl-font-size-36: clamp(18px, calc(11.455px + 2.045vw), 36px);

  /* 24 @320 → 40 @1200 */
  --ll-tl-font-size-40: clamp(24px, calc(18.182px + 1.818vw), 40px);

  /* 24 @320 → 48 @1200 */
  --ll-tl-font-size-48: clamp(24px, calc(15.273px + 2.727vw), 52px);

  /* 30 @320 → 64 @1200 */
  --ll-tl-font-size-64: clamp(30px, calc(17.636px + 3.864vw), 75px);

  /* COLORS */

  /* Text-layer */
  --tl-color-green: #b4b882;
  --tl-color-black: #000000;
  --tl-color-red: #ff0000;
  --tl-color-white: #eed6d6;

  /* Lending-layer */

  --ll-color-all-white: rgb(255, 255, 255);

  --ll-color-all-blocks-filled: rgba(255, 255, 255, 0.25);

  --ll-color-blue-1: #2d576e;
  --ll-color-blue-2: #757dac;
  --ll-color-blue-3: #74afd9;
  --ll-color-blue-4: #86cbc6;
  --ll-color-blue-5: #6898a0;
  --ll-color-blue-text: #6898a0;

  --ll-color-purp-1: #5f4e8a;
  --ll-color-purp-2: #7c64c5;
  --ll-color-purp-3: #c0a5f6;
  --ll-color-purp-4: #4b1d68;
  --ll-color-purp-5: #9061ac;
  --ll-color-purp-text: #5f4e8a;

  --ll-color-pink-1: #ac619f;
  --ll-color-pink-2: #ffa7f0;
  --ll-color-pink-3: #ffa7b9;
  --ll-color-pink-4: #ff7994;
  --ll-color-pink-5: #ab4571;
  --ll-color-pink-text: #ac619f;
}

html,
body {
  background: var(--tl-color-red);
  color: var(--tl-color-black);
}

body {
  font-size: 1.3rem;
}

html[data-tl-theme="green"],
body[data-tl-theme="green"] {
  background: var(--tl-color-green);
  color: var(--tl-color-black);
}

html[data-tl-theme="black"],
body[data-tl-theme="black"] {
  background: var(--tl-color-black);
  color: var(--tl-color-white);
}

html[data-tl-theme="red"],
body[data-tl-theme="red"] {
  background: var(--tl-color-red);
  color: var(--tl-color-black);
}

#app {
  width: var(--max-width);
  margin-inline: auto;
  background: inherit;
}
